<head>
    <title>todo</title>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
</head>

<body>
    <div class="container">
        {{> header}} {{> todos}} {{> form}}
    </div>
</body>